//$default-font: 'Hiaragino Kaku Gothic ProN',
//'ヒラギノ角ゴ';

//colorの設定
$main_color1: #fc0;
$main_color2: #0cf;
$acc_color1: #f00;
$acc_color2: #0f0;
$base_color: #fcfcfc;
$text_color: #000;

//sizeの設定
$sp: 320px;
$tab: 768px;
$pc: 960px;